* {
	box-sizing: border-box;
}

$columns : 12;
$font-size: 16px;
$line-height: 1.5;
$gutter: (1.5 * 1rem)/2;

.container {
	max-width: 1000px;
	margin: auto;
	padding: 0 $gutter;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.grid {
	display: flex;
	margin-right: -1 * $gutter;
	margin-left: -1 * $gutter;
	flex-wrap: wrap;
	flex: 1;
}

.block {
	flex: 1;
	padding: 0 $gutter;
}

.vertical {
	flex-direction: column;
}

@media screen and (max-width: 48em) {
}

@for $i from 1 through $columns {
 .lg_#{$i} {
 	flex: 0 0 100%;
 	padding: 0 $gutter;
 }
}

@for $i from 1 through $columns {
 .md_#{$i} {
 	flex: 0 0 100%;
 	padding: 0 1rem;
 }
}

@for $i from 1 through $columns {
 .sm_#{$i} {
 	flex: 0 0 100/$columns * $i * 1%;
 	padding: 0 1rem;
 }
}

// medium screen
@media screen and (min-width: 48em) {
	@for $i from 1 through $columns {
		.lg_#{$i} {
		}
	}

	@for $i from 1 through $columns {
		.md_#{$i} {
		}
	}
}

//large screen
@media screen and (min-width: 64em) {
	@for $i from 1 through $columns {
		.lg_#{$i} {
		 	flex: 0 0 100/$columns * $i * 1%;
		 	padding: 0 $gutter;
		}
	}
}