doctype html
html
 head
  title= title
  link(rel="stylesheet", href="/css/app.css")
 body
  block content
   .container
    .block
    .block
   .container
    .block
     .container
      .block
      .block
    .block
   .container
    .block
    .block
   .container
    .block
    .block
    .block
   .container
    .block
    .block
    .block
    .block
    .block
   .container
    .block_4
      p hellow
    .block_8
      p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  script(src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous")
  script(src="/js/app.js")