doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/app.css")
  body.container.full
    header.grid.header
      .block
        p hello
    .content.grid
      .block
        .grid
          .block
            p hello
          .block
            p hello
      .block
    footer.grid.footer
      .block
        p hello

    script(src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous")
    script(src="/js/app.js")