doctype html
html
 head
  title= title
  link(rel="stylesheet", href="/css/app.css")
 body
  header.header
   .container
    img.logo__img(src="/img/nacd_logo.svg")
    nav.nav
     ul.nav__ul
      li.nav__li
        a.nav__a(href="/") Impact
  block content
  script(src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous")
  script(src="/js/app.js")